.single-question-form-content {
    width: 80%;
    margin: 0 0 15px 50px;
}

mat-form-field, mat-checkbox  {
    width: 75%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.remove-button {
    float: right;
    margin-left: 10px;
}